{
    "extends": "airbnb",
    "rules": {
        "indent": [ 2, 4 ],
        "quotes": [ 2, "single", "avoid-escape" ],
        "prefer-const": 1,
        "complexity": [ 1, 5 ],
        "class-methods-use-this": [ 0 ],
        "padded-blocks": [ 0 ],
        "no-confusing-arrow": [ 0 ]
    }
}
